header {
	background-color: white;
	height: 70px;
	width: 100%;
	border-bottom: 1px #CCCCCC solid;
	display: flex;
	background-image: url("../images/logo.png");
	align-items: center;
	background-repeat: no-repeat;
	background-position: 20px center;
}
